[user]
    name = {{ .name }}
    email = {{ .email }}

[core]
    excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[maintenance]
	repo = /Users/jake/.local/share/znap/marlonrichert/zsh-autocomplete
	repo = /Users/jake/.local/share/znap/romkatv/powerlevel10k
	repo = /Users/jake/.local/share/znap/zsh-users/zsh-autosuggestions
	repo = /Users/jake/.local/share/znap/zsh-users/zsh-syntax-highlighting

[diff]
    tool = difftastic

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

[pager]
    difftool = true

[alias]
    dft = difftool
    dlog = "!f() { GIT_EXTERNAL_DIFF=difft git log -p --ext-diff $@; }; f"
