[user]
    name = {{ .name }}
    email = {{ .email }}

[core]
    excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[maintenance]
	repo = /Users/jake/.local/share/znap/powerlevel10k
	repo = /Users/jake/.local/share/znap/zsh-autocomplete
	repo = /Users/jake/.local/share/znap/zsh-autosuggestions
	repo = /Users/jake/.local/share/znap/zsh-snap.git
	repo = /Users/jake/.local/share/znap/zsh-syntax-highlighting
